body {
  background-color: white;
}

.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.text-info {
  padding-top: 40px;
}

.container {
  padding: 30px;
  border: 2px dashed black;
  width: 1000px;
  height: 450px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-family: "Inter";
  align-items: center;
}

h2 {
  font-weight: 700;
}

.text-info p {
  text-align: center;
  font-weight: 600;
  color: #747171;
}

.hide {
  display: none !important;
}

#fileUploadWrapper {
  display: flex;
  flex-direction: column;
  font-family: "Inter";
  align-items: center;
  gap: 48px;
}

#btnUploadVideos {
  background-color: black;
  color: white;
  padding: 12px 24px;
  border-radius: 10px;
  cursor: pointer;
  transition: .4s ease;
}

#btnUploadVideos:hover {
  color: black;
  background-color: white;
  outline: 1px solid black;
}

.frame-5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 45px;
}

canvas {
  display: block;
  margin: 0 auto;
  width: 320px;
  height: 240px;
}

.video-info p {
  font-weight: 600;
}

.video-info span {
  font-weight: 400;
  color: #747171
}

#elapsed {
  color: #747171
}